body{
    font-family: 'Oswald', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
    
}
.top-banner{
    background-image: url(top-banner.jpg);
    
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.width{
    width: 33%;
    padding-left: 2%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.middle-banner{
    background-image: url(middle-banner.jpg);
}
.my-recipies{
    text-align: center;
}
.burger{
    width: 30%;
    margin-left: 3%;
    margin-right: 1%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
.customer-servey{
    background-image: url(shop-background-2.jpg);
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px 2px red;
}
footer{
    text-align: center;
    background-color: goldenrod;
}